In [ ]:
import pandas as pd
import geopandas as gpd

## Import file

In [ ]:
gsa_pvout = gpd.read_file('./PVOUT_yearly_monthly.geojson')

## Remove unneccessary columns

In [ ]:
essential_columns = ['id','geometry'] #no address
pvout_columns = ['PVOUT_yearly_mean', 'PVOUT_01_mean', 'PVOUT_02_mean', 'PVOUT_03_mean', 
                 'PVOUT_04_mean', 'PVOUT_05_mean', 'PVOUT_06_mean', 'PVOUT_07_mean', 
                 'PVOUT_08_mean', 'PVOUT_09_mean', 'PVOUT_10_mean', 'PVOUT_11_mean', 
                 'PVOUT_12_mean']

In [ ]:
essential_columns += pvout_columns
essential_columns

['id',
 'geometry',
 'PVOUT_yearly_mean',
 'PVOUT_01_mean',
 'PVOUT_02_mean',
 'PVOUT_03_mean',
 'PVOUT_04_mean',
 'PVOUT_05_mean',
 'PVOUT_06_mean',
 'PVOUT_07_mean',
 'PVOUT_08_mean',
 'PVOUT_09_mean',
 'PVOUT_10_mean',
 'PVOUT_11_mean',
 'PVOUT_12_mean']

In [ ]:
pvout_df = gsa_pvout[essential_columns]
pvout_df = pvout_df[pvout_df['geometry'].apply(lambda x : x.type!='Point' )]

pvout_df.rename(columns = {'PVOUT_yearly_mean':'PVOUT_yearly', 
                           'PVOUT_01_mean':'PVOUT_month_1',
                           'PVOUT_02_mean':'PVOUT_month_2',
                           'PVOUT_03_mean':'PVOUT_month_3',
                           'PVOUT_04_mean':'PVOUT_month_4',
                           'PVOUT_05_mean':'PVOUT_month_5',
                           'PVOUT_06_mean':'PVOUT_month_6',
                           'PVOUT_07_mean':'PVOUT_month_7',
                           'PVOUT_08_mean':'PVOUT_month_8',
                           'PVOUT_09_mean':'PVOUT_month_9',
                           'PVOUT_10_mean':'PVOUT_month_10',
                           'PVOUT_11_mean':'PVOUT_month_11',
                           'PVOUT_12_mean':'PVOUT_month_12',}, 
                inplace = True)
pvout_df = pvout_df.drop(columns=['geometry'])

pvout_df.head()

,id,PVOUT_yearly,PVOUT_month_1,PVOUT_month_2,PVOUT_month_3,PVOUT_month_4,PVOUT_month_5,PVOUT_month_6,PVOUT_month_7,PVOUT_month_8,PVOUT_month_9,PVOUT_month_10,PVOUT_month_11,PVOUT_month_12
0,way/4392200,1361.234589,107.805585,113.281687,135.196373,139.745200,129.662424,112.013180,103.904954,100.557832,103.257441,107.600121,108.328293,99.944000
1,way/4947814,1356.904053,105.740997,111.671997,133.981995,139.320007,130.169006,112.709999,104.718002,101.462997,103.739998,107.167000,107.279999,98.889999
2,way/4947816,1356.904053,105.740997,111.671997,133.981995,139.320007,130.169006,112.709999,104.718002,101.462997,103.739998,107.167000,107.279999,98.889999
3,way/5105906,1357.254412,110.211181,114.501381,135.102940,138.253201,127.289727,110.480410,101.996211,98.479574,102.409212,108.048635,109.237186,101.272030
4,way/5106137,1357.634033,110.453003,114.750999,135.376999,138.300003,127.193001,110.339996,101.834999,98.269997,102.300003,108.097000,109.440002,101.401001

## import solar potential df

In [ ]:
solar_potential = gpd.read_file('../[5] Solar Energy Potential Calculation/solar_potential_2007_2018_flatsouth.geojson')

In [ ]:
solar_potential.head()

,id,address,num_panels,panel_area,avg_hour_0,avg_hour_1,avg_hour_2,avg_hour_3,avg_hour_4,avg_hour_5,...,avg_month_5,avg_month_6,avg_month_7,avg_month_8,avg_month_9,avg_month_10,avg_month_11,avg_month_12,total_kwh,geometry
0,way/4392200,"J3MX+763, Marikina, 1800 Metro Manila, Philipp...",4.0,6.5472,0.0,0.0,0.0,0.0,2.071052e-07,0.001021,...,115.064956,100.253440,92.499482,91.457058,92.155764,95.640428,94.435656,88.294450,1.217989e+03,"POLYGON ((121.09815 14.63357, 121.09786 14.633..."
1,way/4947814,"1800 Riverbanks Ave, Marikina, 1800 Metro Mani...",3308.0,5414.5344,0.0,0.0,0.0,0.0,5.298669e-04,0.977428,...,93139.394984,82358.796005,75198.172888,72555.855376,70955.185527,70850.378402,67314.138721,62410.410760,9.277296e+05,"POLYGON ((121.08072 14.62996, 121.08078 14.629..."
2,way/4947816,"300 Riverbanks Ave, Sto. Nino, Marikina, 1800 ...",15753.0,25784.5104,0.0,0.0,0.0,0.0,4.989708e-02,11.918881,...,452106.959191,400263.487313,364296.854593,348019.168936,338308.019420,334373.561663,313963.810604,289563.171520,4.419620e+06,"POLYGON ((121.08178 14.63214, 121.08150 14.631..."
3,way/5105906,"Block 5 Lot 33 C M Recto Santo Nino, Marikina,...",16260.0,26614.3680,0.0,0.0,0.0,0.0,2.447702e-02,8.144434,...,456273.179122,403564.711038,368299.310860,355920.084278,348373.041318,348397.340074,331513.434711,306793.338034,4.557989e+06,"POLYGON ((121.11541 14.66517, 121.11576 14.663..."
4,way/5106137,"109 C.M. Recto St, Marikina, Metro Manila, Phi...",241.0,394.4688,0.0,0.0,0.0,0.0,1.002410e-03,0.221167,...,7153.949806,6321.254811,5757.354313,5424.320663,5260.221296,5156.272811,4789.123301,4420.437753,6.861694e+04,"POLYGON ((121.11880 14.66317, 121.11900 14.663..."

## Compute kWp

In [ ]:
# 1kWp = four 250w solar panels (https://solvoltaics.com/calculate-kwp-solar-panel/)

solar_potential['kWp'] = solar_potential['num_panels'] / 4

In [ ]:
solar_potential.head()

,id,address,num_panels,panel_area,avg_hour_0,avg_hour_1,avg_hour_2,avg_hour_3,avg_hour_4,avg_hour_5,...,avg_month_6,avg_month_7,avg_month_8,avg_month_9,avg_month_10,avg_month_11,avg_month_12,total_kwh,geometry,kWp
0,way/4392200,"J3MX+763, Marikina, 1800 Metro Manila, Philipp...",4.0,6.5472,0.0,0.0,0.0,0.0,2.071052e-07,0.001021,...,100.253440,92.499482,91.457058,92.155764,95.640428,94.435656,88.294450,1.217989e+03,"POLYGON ((121.09815 14.63357, 121.09786 14.633...",1.00
1,way/4947814,"1800 Riverbanks Ave, Marikina, 1800 Metro Mani...",3308.0,5414.5344,0.0,0.0,0.0,0.0,5.298669e-04,0.977428,...,82358.796005,75198.172888,72555.855376,70955.185527,70850.378402,67314.138721,62410.410760,9.277296e+05,"POLYGON ((121.08072 14.62996, 121.08078 14.629...",827.00
2,way/4947816,"300 Riverbanks Ave, Sto. Nino, Marikina, 1800 ...",15753.0,25784.5104,0.0,0.0,0.0,0.0,4.989708e-02,11.918881,...,400263.487313,364296.854593,348019.168936,338308.019420,334373.561663,313963.810604,289563.171520,4.419620e+06,"POLYGON ((121.08178 14.63214, 121.08150 14.631...",3938.25
3,way/5105906,"Block 5 Lot 33 C M Recto Santo Nino, Marikina,...",16260.0,26614.3680,0.0,0.0,0.0,0.0,2.447702e-02,8.144434,...,403564.711038,368299.310860,355920.084278,348373.041318,348397.340074,331513.434711,306793.338034,4.557989e+06,"POLYGON ((121.11541 14.66517, 121.11576 14.663...",4065.00
4,way/5106137,"109 C.M. Recto St, Marikina, Metro Manila, Phi...",241.0,394.4688,0.0,0.0,0.0,0.0,1.002410e-03,0.221167,...,6321.254811,5757.354313,5424.320663,5260.221296,5156.272811,4789.123301,4420.437753,6.861694e+04,"POLYGON ((121.11880 14.66317, 121.11900 14.663...",60.25

## Merge PVOUT df and solar potential df

In [ ]:
new_df = solar_potential.merge(pvout_df, left_on='id', right_on='id')
new_df = new_df[new_df['num_panels'] > -999] # exclude buildings with no data

In [ ]:
print(new_df.columns)

Index(['id', 'address', 'num_panels', 'panel_area', 'avg_hour_0', 'avg_hour_1',
       'avg_hour_2', 'avg_hour_3', 'avg_hour_4', 'avg_hour_5', 'avg_hour_6',
       'avg_hour_7', 'avg_hour_8', 'avg_hour_9', 'avg_hour_10', 'avg_hour_11',
       'avg_hour_12', 'avg_hour_13', 'avg_hour_14', 'avg_hour_15',
       'avg_hour_16', 'avg_hour_17', 'avg_hour_18', 'avg_hour_19',
       'avg_hour_20', 'avg_hour_21', 'avg_hour_22', 'avg_hour_23',
       'avg_month_1', 'avg_month_2', 'avg_month_3', 'avg_month_4',
       'avg_month_5', 'avg_month_6', 'avg_month_7', 'avg_month_8',
       'avg_month_9', 'avg_month_10', 'avg_month_11', 'avg_month_12',
       'total_kwh', 'geometry', 'kWp', 'PVOUT_yearly', 'PVOUT_month_1',
       'PVOUT_month_2', 'PVOUT_month_3', 'PVOUT_month_4', 'PVOUT_month_5',
       'PVOUT_month_6', 'PVOUT_month_7', 'PVOUT_month_8', 'PVOUT_month_9',
       'PVOUT_month_10', 'PVOUT_month_11', 'PVOUT_month_12'],
      dtype='object')

In [ ]:
new_df = new_df[['id', 'address', 'num_panels', 'panel_area', 'geometry', 'kWp', 
                 'total_kwh',  
                 'avg_month_1', 'avg_month_2', 'avg_month_3', 'avg_month_4',
                 'avg_month_5', 'avg_month_6', 'avg_month_7', 'avg_month_8',
                 'avg_month_9', 'avg_month_10', 'avg_month_11', 'avg_month_12',
                 'PVOUT_yearly',
                 'PVOUT_month_1', 'PVOUT_month_2', 'PVOUT_month_3', 'PVOUT_month_4', 
                 'PVOUT_month_5', 'PVOUT_month_6', 'PVOUT_month_7', 'PVOUT_month_8', 
                 'PVOUT_month_9', 'PVOUT_month_10', 'PVOUT_month_11', 'PVOUT_month_12']]

In [ ]:
pvout_columns = ['PVOUT_yearly',
                 'PVOUT_month_1', 'PVOUT_month_2', 'PVOUT_month_3', 'PVOUT_month_4', 
                 'PVOUT_month_5', 'PVOUT_month_6', 'PVOUT_month_7', 'PVOUT_month_8', 
                 'PVOUT_month_9', 'PVOUT_month_10', 'PVOUT_month_11', 'PVOUT_month_12']

for column in pvout_columns:
  new_df[column] = new_df[column] * new_df['kWp'] # convert kWh/kWp value of PVOUT to kWh

In [ ]:
new_df

,id,address,num_panels,panel_area,geometry,kWp,total_kwh,avg_month_1,avg_month_2,avg_month_3,...,PVOUT_month_3,PVOUT_month_4,PVOUT_month_5,PVOUT_month_6,PVOUT_month_7,PVOUT_month_8,PVOUT_month_9,PVOUT_month_10,PVOUT_month_11,PVOUT_month_12
0,way/4392200,"J3MX+763, Marikina, 1800 Metro Manila, Philipp...",4.0,6.5472,"POLYGON ((121.09815 14.63357, 121.09786 14.633...",1.00,1.217989e+03,98.591349,103.947040,121.755624,...,135.196373,139.745200,129.662424,112.013180,103.904954,100.557832,103.257441,107.600121,108.328293,99.944000
1,way/4947814,"1800 Riverbanks Ave, Marikina, 1800 Metro Mani...",3308.0,5414.5344,"POLYGON ((121.08072 14.62996, 121.08078 14.629...",827.00,9.277296e+05,69743.788426,75217.508363,91279.128872,...,110803.109558,115217.646057,107649.768250,93211.169243,86601.787918,83909.898880,85792.978233,88627.108849,88720.558990,81782.029495
2,way/4947816,"300 Riverbanks Ave, Sto. Nino, Marikina, 1800 ...",15753.0,25784.5104,"POLYGON ((121.08178 14.63214, 121.08150 14.631...",3938.25,4.419620e+06,324317.626238,354160.387099,434811.218795,...,527654.590347,548677.018845,512638.089249,443880.153894,412405.672634,399586.649654,408554.046587,422050.437029,422495.455193,389453.540096
3,way/5105906,"Block 5 Lot 33 C M Recto Santo Nino, Marikina,...",16260.0,26614.3680,"POLYGON ((121.11541 14.66517, 121.11576 14.663...",4065.00,4.557989e+06,343586.623491,370718.567004,449602.075437,...,549193.451969,561999.262574,517432.740888,449102.866865,414614.597758,400319.467229,416293.444808,439217.701101,444049.161731,411670.801334
4,way/5106137,"109 C.M. Recto St, Marikina, Metro Manila, Phi...",241.0,394.4688,"POLYGON ((121.11880 14.66317, 121.11900 14.663...",60.25,6.861694e+04,4946.321805,5424.338459,6698.190303,...,8156.464184,8332.575184,7663.378298,6647.984779,6135.558695,5920.767298,6163.575184,6512.844257,6593.760147,6109.410309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36079,way/930960295,"Riverbanks Mall, 84 A.Bonifacio Avenue, Mariki...",10.0,16.3680,"POLYGON ((121.08301 14.63210, 121.08300 14.632...",2.50,3.044972e+03,246.478373,259.867600,304.389061,...,334.954987,348.300018,325.422516,281.774998,261.795006,253.657494,259.349995,267.917500,268.199997,247.224998
36080,way/930960298,"18 Dinar, Marikina, 1800 Metro Manila, Philipp...",27.0,44.1936,"POLYGON ((121.08232 14.62827, 121.08225 14.628...",6.75,8.221424e+03,665.491607,701.642519,821.850465,...,904.378464,940.410049,878.640793,760.792494,706.846516,684.875233,700.244986,723.377249,724.139992,667.507496
36081,way/931231232,"10 Maj. Santos Dizon St, Marikina, 1800 Metro ...",33.0,54.0144,"POLYGON ((121.07994 14.62716, 121.08011 14.627...",8.25,1.004841e+04,813.378630,857.563079,1004.483902,...,1105.351456,1149.390060,1073.894302,929.857492,863.923519,837.069729,855.854982,884.127748,885.059990,815.842495
36082,way/949706390,"89 Liamzon, Marikina, 1612 Metro Manila, Phili...",68.0,111.3024,"POLYGON ((121.09913 14.62060, 121.09922 14.620...",17.00,1.732825e+04,1010.611583,1194.406647,1632.476943,...,2317.745956,2394.450104,2223.413025,1917.089943,1779.151970,1721.709007,1760.519958,1830.798004,1845.689995,1699.574974
36083,way/949706393,"26 F Mariano Ave, Marikina, 1801 Metro Manila,...",19.0,31.0992,"POLYGON ((121.09839 14.62036, 121.09841 14.620...",4.75,5.785446e+03,468.308908,493.748439,578.339216,...,647.605488,669.037529,621.247757,535.657484,497.115992,481.065752,491.909988,511.546501,515.707499,474.881243

In [ ]:
new_df.to_file('hypo_testing_data_2007_2018.geojson', driver="GeoJSON")